__pycache__
CIHP_PGN
*.pkl
*.bmp
*.pdf
train_log
train_logs
*.swp
net_*
*.tar
*best-epoch-*
*epoch-*
.DS_Store
.nfs*
.ipynb_checkpoints
*.model
*.gz
others
images
tmp*.py
*.dlc
*.ipynb*
*.pyc
__pycache__
.idea/
*.new
